/docs/
/terraform/terraform.tfvars
/terraform/.terraform/
/terraform/*.tfvars
/terraform/*.tfstate
/terraform/*.tfstate.*
/terraform/*.tfstate.backup
/terraform/*.tfplan
/terraform/crash.log
.idea/
*.iml
gcp-secrets-commands.md
docker-push.md
/docker-push.md
CLOUD_RUN_TROUBLESHOOTING.md
LOGS.md
SECRETS.md
