/docs/
/terraform/terraform.tfvars
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/*.tfvars
/terraform/*.tfstate
/terraform/*.tfstate.backup
/terraform/*.tfplan
/terraform/crash.log
gcp-secrets-commands.md
docker-push.md
/docker-push.md
